html {
  height: 100%;  /*altezza in percentuale*/
}

body {
  margin:0;  /*margine */
  padding:0;  /*spazio intorno ad un elemento */
  font-family: 'Open Sans', Arial, sans-serif; /* font body */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.login-box{
  position: absolute;  /*posizione assoluta rispetto alla pagina */
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%,-50%);   /*posiziona il box al centro */
  background: rgba(0,0,0,.8);  /*colore box */
  box-sizing: border-box;   /* permette che le dimensioni assegnate ad un elemento comprendano anche il padding e il bordo */
  box-shadow: 0 15px 25px rgba(0,0,0,.6);  /*ombre box */
  border-radius: 10px;  /*smussamento angoli */
}



.login-box h2 {  /* login */
  margin: 0 0 30px;  /* margine inferiore 30px */
  padding: 0; 
  margin-bottom: 60px;   
  color: #fff;
  text-align: center;    
}

.login-box .user-box {
  position: relative;  /*posizionamento relativo al box */
}


.login-box .user-box input {  /*input box*/
  width: 100%;       
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;  
  outline: none;  /* serve per eliminare i bordi quando si fa focus */
  background: transparent; 
}

.login-box .user-box label { /*posizionamento utente e password */
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none; 
  transition: 0.5s;
}


.login-box .user-box input:focus ~ label,  /* la tilde seleziona il fratello */ /*input valid serve per far rimanere formattato il testo quando input non  vuoto */
.login-box .user-box input:valid ~ label {   /*sposta username e password quando si fa focus */
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}


.login-box .submit-btn{
  text-align: center;
}

.login-box .submit-btn input{ 
  position: relative;
  display: inline-block;    
  padding: 10px 20px;
  background-color: transparent;
  font-size: 16px;
  margin-top: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px;
  border-color: #03e9f4;
  border-width: 1.5px;
  color: #fff;
}

.login-box .submit-btn input:hover{
  background: #03e9f4;
  color: rgba(0,0,0);
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;  
}

.login-box .error-login{
  color: #03e9f4;
  display: none;
}

.dimenticata a{
  color: #03e9f4;
  font-size: 16px;
}

.error-mail {   /*errore formato mail sbagliato (password dimenticata)*/  
  display: none;
  color: #03e9f4;
  font-size: 16px;
}

/* CSS NAVBAR */
.navbar-expand-lg .navbar-collapse{
  display: flex;
  flex-basis: auto;
}

.pc-row { 
  display: flex; 
}

.pc-sitename {
  color: unset;
  font-size: 2.5rem
}

p{
  line-height: 1.9;
}

.navbar-expand-lg{
  padding-left:0;
  padding-right: 0;
}

.nav-item{
  margin-right: 60px;
}
.nav-item:last-child { margin-right: 0; }

.pc-col-left {
  width: 50%;
  height: 100%;
  padding-left: 40px;  
  padding-right: 40px;
}


.pc-col-right {
  width: 50%;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

.pc-logo { 
  margin-right: 20px; 
}

.navbar-toggler {
  padding: 8px 15px;
  border: 0;
  border-radius: 0;
  transform: skewX(-15deg);
  background-color: rgba(0,0,0,0.5);
  color: white;    
}

.navbar-toggler i { transform: skewX(15deg); }

.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

.navbar-expand-lg .navbar-nav .pc-nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;    
  padding-top:0;
  padding-bottom: 30px;    
}



.navbar-expand-lg .navbar-nav .pc-nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;    
  padding-bottom: 30px;    
}

.nav-item.active .pc-nav-link,
.nav-item:hover .pc-nav-link {
  color: #9CC;
}

.pc-text-link { color: white; }

.pc-text-link:hover,
.pc-text-link:focus {
  color: #9CC;
}

@media (max-width: 1200px) {
  .nav-item { margin-right: 30px; }

  .pc-page-right {
      padding-left: 30px;
      padding-right: 30px;
  }
}
@media (max-width: 992px) {    
  .pc-site-footer { padding-top: 40px; }
  .pc-col-footer { padding-left: 0; }
  
  .pc-nav {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      top: 44px;
      right: 4px;
  }

  .navbar-expand-lg .navbar-nav .pc-nav-link {
      color: white;
      font-size: 1.1rem;
      padding: 13px 20px;
  }
  .nav-item.active .pc-nav-link,
  .nav-item:hover .pc-nav-link {
      color: #9CC;
  }

  .navbar-expand-lg .navbar-nav .pc-nav-link {
      color: white;
      font-size: 1.1rem;
      padding: 13px 20px;
  }

  .pc-col-left { width: 40%; }

  .pc-col-right {
      width: 60%;
      padding-left: 100px;
      padding-right: 30px;
  }

  
}

@media (max-width: 768px){

  .pc-row { flex-direction: column; }

  .pc-col-left,
  .pc-col-right,
  .pc-bg-left,
  .pc-bg-right {
      width: 100%;
  }

  #pc-main-nav {
      position: fixed;
      top: 50px;
      right: 40px;
      padding-bottom: 0;
  } 

  .pc-bg { flex-direction: column; }

  .pc-bg-left {
      height: 200px;        
      border-bottom: 50px solid rgba(0,0,0,0.5);
      border-right: 0;
      border-top: 0;
  }

  .pc-bg-right { height: calc(100% - 200px); }

  .pc-bg-controls-wrapper {
      margin-left: 0;
      margin-top: 50px;
  }

  .pc-content {
      max-height: none;
      margin-top: 40px;
  }

  .pc-col-right {
      padding-top: 40px;
      padding-left: 30px;
  }

  .pc-col-footer {
      padding-left: 10px;
      padding-right: 10px;
  }
}

@media (max-width: 460px) {
  .pc-logo { margin-right: 15px; }
  .pc-sitename { font-size: 1.8rem; }
  .pc-slogon { font-size: 0.8rem; }
}

@media (max-width: 450px), (min-width: 768px) and (max-width: 830px), (min-width: 992px) and (max-width: 1040px) {
  .pc-service-media { flex-direction: column; }
  .pc-service-media-img-l { flex-direction: column-reverse; }
  .pc-service-text { margin-top: 20px; }
  .pc-service-img { margin-right: 0; }
  .pc-service-img-r { margin-left: 0; }
}


      .nav-item .dropdown-menu{
          background-color: rgba(0, 0, 0, 0.8);
          transition: 0.3s;
      }
      .nav-item .dropdown-menu .dropdown-item a{
          color: white;
      }

      .nav-item .dropdown-menu .dropdown-item:hover{
          background-color: unset;
      }

      .nav-item .dropdown-menu .dropdown-item a:hover{
          color: #9CC;
          transition: 0.3s;
      }
