@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');


body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-image: url("../img/img4.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}

.pc-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}


 
/* CSS NAVBAR */
.navbar-expand-lg .navbar-collapse{
    display: flex;
    flex-basis: auto;
}

.pc-row { 
    display: flex; 
}

.pc-sitename {
    color: unset;
    font-size: 2.5rem
}

p{
    line-height: 1.9;
}

.navbar-expand-lg{
    padding-left:0;
    padding-right: 0;
}

.nav-item{
    margin-right: 60px;
}
.nav-item:last-child { margin-right: 0; }

.pc-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
}


.pc-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.pc-logo { 
    margin-right: 20px; 
}

.navbar-toggler {
    padding: 8px 15px;
    border: 0;
    border-radius: 0;
    transform: skewX(-15deg);
    background-color: rgba(0,0,0,0.5);
    color: white;    
}

.navbar-toggler i { transform: skewX(15deg); }

.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

.navbar-expand-lg .navbar-nav .pc-nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;    
    padding-top:0;
    padding-bottom: 30px;    
}



.navbar-expand-lg .navbar-nav .pc-nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;    
    padding-bottom: 30px;    
}

.nav-item.active .pc-nav-link,
.nav-item:hover .pc-nav-link {
    color: #9CC;
}

.pc-text-link { color: white; }

.pc-text-link:hover,
.pc-text-link:focus {
    color: #9CC;
}

@media (max-width: 1200px) {
    .nav-item { margin-right: 30px; }

    .pc-page-right {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 992px) {    
    .pc-site-footer { padding-top: 40px; }
    .pc-col-footer { padding-left: 0; }
    
    .pc-nav {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        top: 44px;
        right: 4px;
    }

    .navbar-expand-lg .navbar-nav .pc-nav-link {
        color: white;
        font-size: 1.1rem;
        padding: 13px 20px;
    }
    .nav-item.active .pc-nav-link,
    .nav-item:hover .pc-nav-link {
        color: #9CC;
    }

    .navbar-expand-lg .navbar-nav .pc-nav-link {
        color: white;
        font-size: 1.1rem;
        padding: 13px 20px;
    }

    .pc-col-left { width: 40%; }

    .pc-col-right {
        width: 60%;
        padding-left: 100px;
        padding-right: 30px;
    }

    
}

@media (max-width: 768px){

    .pc-row { flex-direction: column; }

    .pc-col-left,
    .pc-col-right,
    .pc-bg-left,
    .pc-bg-right {
        width: 100%;
    }

    #pc-main-nav {
        position: fixed;
        top: 50px;
        right: 40px;
        padding-bottom: 0;
    } 

    .pc-bg { flex-direction: column; }

    .pc-bg-left {
        height: 200px;        
        border-bottom: 50px solid rgba(0,0,0,0.5);
        border-right: 0;
        border-top: 0;
    }

    .pc-bg-right { height: calc(100% - 200px); }

    .pc-bg-controls-wrapper {
        margin-left: 0;
        margin-top: 50px;
    }

    .pc-content {
        max-height: none;
        margin-top: 40px;
    }

    .pc-col-right {
        padding-top: 40px;
        padding-left: 30px;
    }

    .pc-col-footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 460px) {
    .pc-logo { margin-right: 15px; }
    .pc-sitename { font-size: 1.8rem; }
    .pc-slogon { font-size: 0.8rem; }
}

@media (max-width: 450px), (min-width: 768px) and (max-width: 830px), (min-width: 992px) and (max-width: 1040px) {
    .pc-service-media { flex-direction: column; }
    .pc-service-media-img-l { flex-direction: column-reverse; }
    .pc-service-text { margin-top: 20px; }
    .pc-service-img { margin-right: 0; }
    .pc-service-img-r { margin-left: 0; }
}


        .nav-item .dropdown-menu{
            background-color: rgba(0, 0, 0, 0.8);
            transition: 0.3s;
        }
        .nav-item .dropdown-menu .dropdown-item a{
            color: white;
        }

        .nav-item .dropdown-menu .dropdown-item:hover{
            background-color: unset;
        }

        .nav-item .dropdown-menu .dropdown-item a:hover{
            color: #9CC;
            transition: 0.3s;
        }

/* FOOTER */
.pc-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.pc-col-footer { padding-left: 0; }

/* CSS CONTATTACI */
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;         /* differenza tra colonne */
    justify-content: center;
    align-items: center;
    height: 750px;
    background-color: transparent;
    font-family: "Play", sans-serif;
    
}

.persona{
    background-color: #000000;
    height: 37rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(255,255,255,0.7);
    color: white;
    border: whitesmoke solid  1px;
    border-radius: 20px ;
    box-shadow: 2px 0px 5px rgba(255, 255,255, 1),  8px 5px 15px rgba(255, 255, 255, 1);   
    
}

.nome{
    margin-top: 15px;
    font-size: 1.5em;
}

.persona-imm{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px whitesmoke;
}

.bordi{
    box-shadow: inset 0 0 0 4px whitesmoke;
    color: whitesmoke;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    
}

.bordi::before,
.bordi::after {
  border: 0 solid lightblue ;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.bordi::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }

.bordi::after {
   border-top-width: 4px;
   border-right-width: 4px;
}
.bordi:hover{
    color: lightblue;
}

.bordi:hover::before,
.bordi:hover::after{
    border-color: lightblue;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
  
/* CONTINUA QUI */
.bordi:hover::before {
    
    transition-delay: 0s, 0s, 0.25s;
  }
  
  .bordi:hover::after {

    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border-color: lightblue;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    margin: 1em;
    width: 13rem;
  }
  
  .btn:focus {
    outline: 2px lightblue;
  }
  
  
  .social{
    padding: 0;
    list-style: none;
    margin: 1em;
  }
  
  .social li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
  }
  
  .social i {
    color: #000;
    position: absolute;
    top: 0.95em;
    left: 0.84em;
    transition: all 265ms ease-out;
  }
  
  .social a {
    display: inline-block;
  }
  
  .social a:before {
    transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, lightblue, lightblue);
    transition: all 265ms ease-out;
  }
  
  .social a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  
  .social a:hover i {
    transform: scale(2.2);
    color: lightblue;
    transition: all 265ms ease-in;
  }
  /*
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 1.2em;
  }
  */




/*  Area Messaggio  */
  .register-box{
      width:200%;
      justify-content: center;
  }
  
  .register-box h2 {  /* login */
    margin: 0 0 30px;  /* margine inferiore 30px */
    padding: 0;    
    color: #fff;
    text-align: center;    
  }
  
  .register-box .user-box {
    position: relative;  /*posizionamento relativo al box */
  }
  
 .user-box-area{
     width: 250px;
 }
  
  .register-box .user-box input,  .register-box .user-box textarea{  /*input box*/
    width: 100%;       
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;  
    outline: none;  /* serve per eliminare i bordi quando si fa focus */
    background: transparent; 
  }
  
 

  .register-box .user-box label { /*posizionamento utente e password */
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none; 
    transition: 0.5s;
  }
    
 
  .register-box .user-box input:focus ~ label,  /* la tilde seleziona il fratello */ /*input valid serve per far rimanere formattato il testo quando input non  vuoto */
  .register-box .user-box input:valid ~ label{   /*sposta username e password quando si fa focus */
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .register-box .user-box textarea:focus ~ label,
  .register-box .user-box textarea:valid ~ label {
    top: -30px;
    left: 0;
    color: #03e9f4;
    font-size: 14px;
  }


  
  .register-box .submit-btn input{ 
    position: relative;
    display: inline-block;    
    padding: 10px 20px;
    background-color: transparent;
    font-style: rgb(255,0,0);
    font-size: 14px;
    margin-top: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;
    border-color: #12b7c0;
    border-width: 1.5px;
    color: #fff;
  }
  
  .register-box .submit-btn input:hover{
    background: #03e9f4;
    color: rgba(0,0,0);
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }