.barra-verticale{
  border-left: 6px solid black;
  height: 500px;
  position: relative;
  left: 50%;
}

.btn-storia{
    border-radius: 10px;
    position: absolute;
    left: -30px;
}

.storia-java .storia-row{
  height: auto;
  background-color: rgba(255,255,255,0.8); 
  height: auto;
  margin-bottom:0;
}

.contenitore-fluid div .colsx {
  margin-bottom: 0;
}

.colsx{
  position: relative; 
  float: right; 
  border-right: 3px solid black; 
  padding-right: 40px;
}

/*.colsx .diapositivasx{
  margin-top: 1rem; 
  background-color: black; 
  border-radius: 20px 0 20px 5px;
  padding: 20px;
} */

.colsx .diapositivasx{
  width: 100px;
  height: 7%;
  margin-top: 1rem; 
  background-color: black; 
  border-radius: 20px 0 20px 5px;
  padding: 20px;
  /*transition: width 2s, height 4s, display 10s;*/
  visibility:hidden;
  
} 

.blurred{
  filter: blur(5px);
  transition: filter 0.5s linear;
}

.colsx .diapositivasx .markdot{
  position:absolute; 
  top: 15px;
  right:-18px;
  background-color: unset;
  color: black;
}

.colsx .diapositivasx .markarr{
  position:absolute; 
  top:6px; 
  right:23px; 
  color: black;
  background-color: unset;
}

.transizione_sx{
  width: auto;
  height: auto;
}