#contenitore-barra { /* contenitore barra laterale */
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    top: 65px;
    overflow-y: hidden;
    background: #F8F8F8;
    transition: 0.5s;
}

#contenitore-pagina { /*pagina principale*/
    width: 100%;   
    padding: 15px;
}

#contenitore.menu-on #contenitore-barra { /*sposta la barra*/
    width: 200px;
}

#contenitore.menu-on #contenitore-pagina {  /*sposta contenuto pagina per far spazio alla barra*/
    padding-left: 200px;
    transition: 0.5s;
}


.barra-lat{         /*barra laterale*/
    padding: 0;
    list-style: none;
}

.barra-lat li{      /*elemti  barra*/
    text-align: center;
    height: 50px;
    width: 200px;
    padding-top: 20px;
}


/*link associati elementi barra*/
.a-bar-txt{  
    display:inline-block;
    font-style: italic;
    font-size: 20px;
    color: black;
} 

.a-bar-log {
    padding-right: 10px;
    color: black;
}

.a-bar-img {  /*settaggio link immagini barra*/
    display: block;
    text-decoration: none;
    height: 50px;
    width: 200px;
}


/*.barra-lat li a:hover{  
    background-color: lightblue;
}*/

#contenitore-nav {   
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 50px;
}

#nav {     /*navbar */
    height: 65px;
}

.contenitore-menu {  /*conteiner pulsante che fa uscire la barra*/
    position: absolute;
    width: 50px;
    z-index: 1;
    background-color:  #F8F8F8;
    height: 65px;
    color: #F8F8F8e;
}

.contenitore-menu li{  /*posizionamento logo bottone menù*/
    position: relative;
    top: 20px;

}

.barra-lat li a img{   /*immagini elementi barra*/
    height: 50px;
    width: 150px;
}

#prova3 {
    padding-left: 5px;
}