#contenitore-barra { /* contenitore barra laterale */
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    top: 65px;
    overflow-y: hidden;
    background: #F8F8F8;
    transition: 0.5s;
}

.contenuto-pagina { /*pagina principale*/
    width: 100%;   
    padding: 15px;
    padding-top: 65px;
    margin-left: 0;
    transition: 0.5s;
}


.contenuto-pagina-destra {  /*sposta contenuto pagina per far spazio alla barra*/
    margin-left: 200px;
}


/*barra laterale*/
.barra-lat{         
    padding: 0;
    list-style: none;
}

#contenitore.menu-on #contenitore-barra { /*sposta la barra*/
    width: 200px;
}

/*bottoni dropdown  barra*/

.btn-barra li a{
    display:inline-block;
    font-size: xx-large;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-left: 20px;
    width: 250px;
}

.btn-barra li a span{
    padding-left: 10px;
}

.btn-barra li a:hover{
    background-color: lightgray;
}

/*lista dropdown*/

#contenitore-drop ul li a{
    position: absolute;
    display:inline-block;
    text-decoration: none;
    color: black;
    padding-left: 55px;
    width: 250px;
}

#contenitore-drop ul li a:hover{
    background-color: lightgray;
}


#contenitore-drop{
    width: 250px;
    padding-bottom: 5px;
}

.logo-freccia{
    position: absolute;
    font-size: 0.8rem;
    left: 180px;
    padding-top: 15px;
}
/*navbar */

#contenitore-nav {   
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 50px;
}

#nav {     
    height: 65px;
}

.contenitore-menu {  /*conteiner pulsante che fa uscire la barra*/
    position: absolute;
    width: 50px;
    z-index: 1;
    background-color:  #F8F8F8;
    height: 65px;
    color: #F8F8F8e;
}

.contenitore-menu li{  /*posizionamento logo bottone menù*/
    position: relative;
    top: 20px;
}


/*elementi dropdown Java visibilà*/

.li-java-off { 
    display: none;
}

#contenitore.li-java-on #lista-java{ 
    display: inline-block;
}

/*elementi dropdown PYTHON visibilà*/

.li-python-off { 
    display: none;
}

#contenitore.li-python-on #lista-python{ 
    display: inline-block;
}
