

body{
    height: 100%;
    overflow-y: hidden;
    background-image: url("../img/sfondo.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    resize: none;
  
}

html { 
    height: 100% 
} #contenitore {
    width: 100%;
    height: 100%;
}

#contenitore-barra { /* contenitore barra laterale */
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 65px;
    overflow-y: hidden;
    background: #F8F8F8;
    transition: 0.5s;
}

.contenuto-pagina { /*pagina principale*/
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 65px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



/*barra laterale*/
.barra-lat{         
    padding: 0;
    list-style: none;
}


/*bottoni dropdown  barra*/

.btn-barra li a{
    display:inline-block;
    font-size: xx-large;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-left: 20px;
    width: 250px;
}

.btn-barra li a span{
    padding-left: 10px;
}

.btn-barra li a:hover{
    background-color: lightgray;
}

/*lista dropdown*/

#contenitore-drop ul li a{
    position: absolute;
    display:inline-block;
    text-decoration: none;
    color: black;
    padding-left: 55px;
    width: 250px;
}

#contenitore-drop ul li a:hover{
    background-color: lightgray;
}


#contenitore-drop{
    width: 250px;
    padding-bottom: 5px;
}

.logo-freccia{
    position: absolute;
    font-size: 0.8rem;
    left: 180px;
    padding-top: 15px;
}
/*navbar */


#nav {     
    height: 65px;
}

.bianco{
    color: #ffffff;
}



/*elementi dropdown Java visibilà*/

.li-java-off { 
    display: none;
}

#contenitore.li-java-on #lista-java{ 
    display: inline-block;
}

/*elementi dropdown PYTHON visibilà*/

.li-python-off { 
    display: none;
}

#contenitore.li-python-on #lista-python{ 
    display: inline-block;
}

/*elementi dropdown ruby*/

.li-ruby-off { 
    display: none;
}

#contenitore.li-ruby-on #lista-ruby{ 
    display: inline-block;
}

/*elementi dropdown scala*/

.li-scala-off { 
    display: none;
}

#contenitore.li-scala-on #lista-scala{ 
    display: inline-block;
}

/*elementi dropdown bash*/

.li-bash-off { 
    display: none;
}

#contenitore.li-bash-on #lista-bash{ 
    display: inline-block;
}

/*elementi dropdown javascript*/

.li-javascript-off { 
    display: none;
}

#contenitore.li-javascript-on #lista-javascript{ 
    display: inline-block;
}

/* CSS vue */
.linguaggi-img{
    display: grid;
    grid-template-columns: 414px 414px;
    grid-gap: 20px;
    margin: 2rem auto;
    max-width: 90vmin;
  }
  
  .linguaggi{
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    margin: 0;
    background: #FFF;
    opacity: 0.95;
  }
    
 .linguaggi img{ border-radius: .5rem; display: block; }
 .linguaggi figcaption { margin: 1rem 1rem 0; }
 .linguaggi h2 { font-size: 1.6rem; line-height: 1; }
 .linguaggi em { font-size: 1rem; }
  