.contenitore-visualizza{
    position: relative;
    width: 99%;
    height: 600px;
    display:inline-block;
    color: black;
    border-color: rgb(190, 10, 10);
    border-width: 1px;
    background-color: white;
    border-radius: 20px;
    
} 
.contenitore-visualizza div span{
position: absolute;
    top: 150px;
    left: 50px;
    z-index: 1;
    color: white;
}

.row a{
   
    margin-bottom: 0; 
    height: 10px;
}